 * {
	margin: 0;
	padding: 0;}  
    
      caption {color: rgb(255, 93, 17);}
    thead{color: rgb(0, 0, 0)}
    tbody {color: rgb(134, 0, 123);}
      table th, table td 
    {
        border: 1px solid black;
        
        text-align: center;
    }
    table
        {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            background-color: gray;
        }    
    table th 
        {
        text-align: center;
        background-color: aliceblue;
        }
   
    
    table tr:nth-child(even)
        {
            color: rgb(204, 255, 123);
        }
        
    

    
@media only screen and (max-width: 800px) 
{
    *{
        margin:0;
        padding:0;
    }

    thead{ display: none;}

    tr,
    tbody,
    td
    {display:block;
        width: 100%;
        padding:5px;

    }
}