 * {
	margin: 0;
	padding: 0;}  
    
      caption {color: rgb(255, 93, 17);}
    thead{color: rgb(0, 0, 0)}
    tbody {color: rgb(134, 0, 123);}
      table th, table td 
    {
        border: 1px solid black;
        
        text-align: center;
    }
    table
        {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            background-color: gray;
        }    
    table th 
        {
        text-align: center;
        background-color: aliceblue;
        }
   
    
    table tr:nth-child(even)
        {
            color: rgb(204, 255, 123);
        }
        
    

    
@media only screen and (max-width: 800px) 
{
    /* Cambiar el display de los elementos de tabla a block */
    /*----------------------------------------------------- */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    tr { border: 1px solid #ccc; }

    /* Esconder los encabezados de la tabla */
    /*------------------------------------- */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        position: relative;      /* Cada campo ahora sera una fila*/
        padding-left: 50%;       /* hacemos espacio para "encabezado de cada fila" */
        border: none;
        border-bottom: 1px solid #eee;
    }

    td:before {
        position: absolute;    /* Encabezados */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
    }


    /* Agrega "encabezado" a la izquierda (before) de cada dato */
    /* td:nth-of-type(1):before { content: "Nombre"; } */
    td:nth-of-type(1):before { content: "Nombre"; }
    td:nth-of-type(2):before { content: "Ap Paterno"; }
    td:nth-of-type(3):before { content: "Ap Materno"; }
    td:nth-of-type(4):before { content: "Depto"; }
    td:nth-of-type(5):before { content: "Ciudad"; }
    td:nth-of-type(6):before { content: "Estado"; }
    td:nth-of-type(7):before { content: "Pais"; }
    td:nth-of-type(8):before { content: "Peso"; }
    td:nth-of-type(9):before { content: "Estatura"; }
    td:nth-of-type(10):before{ content: "Sueldo"; }
}