*
{box-sizing: border-box;
 margin:0;
 border:0;
 font-family: 'Lucida Sans Unicode';
 color: black;
}

img{
    width: 70%;
}

.contenedor
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(179, 179, 179);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 'header header header'
                        'cont1 cont2 cont3'
                        'footer footer footer';
    justify-content: center;
    align-content: center;
}

.caja
{

    background-color: rgb(75, 78, 255);
    text-align:end;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align:center;

}

a{
    color: rgb(45, 240, 119);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 200%;
}

a:hover img{
    opacity: 50%;
    
}
a:hover{
    color: crimson;
}


#header{
    grid-area: header;
    font-size: 400%;
}

#cont1{
    grid-area: cont1;
}
#cont2{
    grid-area: cont2;
}
#cont3{
    grid-area: cont3;
}

#footer{
    grid-area: footer;
}
/*@media screen and (max-width: 1200px) 
{
    .contenedor
    {
        flex-direction: column;
        flex-wrap: space-between;
        align-items: center;
    }
    .caja
    {
        text-align: center;
    }
} Aqui era el media querie del problema anterior xd*/