*
{box-sizing: border-box;
 margin:0;
 border:0;
 font-family: 'Segoe UI';
 color: black;
}

.contenedor
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(130, 255, 228);
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 20% 20% 20%;
    grid-template-areas: 'header header header'
                        'cont1 cont2 cont3'
                        'footer footer footer';
    justify-content: center;
    align-content: center;
}

.caja
{

    background-color: rgb(255, 128, 255);
    text-align:end;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align:center;

}

#header{
    grid-area: header;
}

#cont1{
    grid-area: cont1;
}
#cont2{
    grid-area: cont2;
}
#cont3{
    grid-area: cont3;
}

#footer{
    grid-area: footer;
}
/*@media screen and (max-width: 1200px) 
{
    .contenedor
    {
        flex-direction: column;
        flex-wrap: space-between;
        align-items: center;
    }
    .caja
    {
        text-align: center;
    }
} Aqui era el media querie del problema anterior xd*/