*
{box-sizing: border-box;
 margin:0;
 border:0;
 font-family: 'Lucida Sans Unicode';
 color: black;
}

#header{
    font-size: 125%;
    text-align: center;
    background-color: aqua;
}

#controles{
    background-color: darkgrey;
    border: 1%;
    border-style: solid;
    padding: 2%;
}
